* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 14px;
  color: #606266;
  background-image: url(../assets/Home.jpg);
  background-repeat: no-repeat;
  min-width: 1170px;
}

a {
  text-decoration: none;
}
